.password-container {
    position: relative;
}

.password-container input {
    padding-right: 2.5rem;
}

.password-container .toggle-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 1rem;
    color: #AAAAAA;
}





